/build/
/_build/
**/CMakeFiles/
**/CMakeCache.txt
**/compile_commands.json
**/*.o
**/*.a
**/*.so
# Windows junk
*.exe
*.dll
*.pdb
Thumbs.db
.DS_Store
# local-only configs
CMakeUserPresets.json
.vscode/*.local.json
*.code-workspace